asgiref==3.8.1
click==8.2.1
Django==5.1.6
et_xmlfile==2.0.0
gunicorn==23.0.0
numpy==2.2.4
opencv-python==4.11.0.86
openpyxl==3.1.5
packaging==25.0
pillow==11.2.1
qrcode==8.2
sqlparse==0.5.3
tzdata==2025.1
whitenoise==6.11.0
