body{
    position: relative;
    margin:0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/registrationBG.jpg");
    background-size: cover;
    opacity: 1;
    z-index: -1;
}

.container{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 350px;
    margin-top: 50px;
    background-color: rgba(240,240,240,0.4);    
    border-radius: 15px;
    padding: 20px;
    

}

.form-class{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 19px;
    margin: 40px;
    margin-bottom: 10px;
}

input{
    height: 35px;
    width:300px;
    border-radius: 15px;
    border-width: 0;
    text-align: center;
}

input:hover{
    scale:1.2;
    transition-duration: 0.5s;
    background-color: beige;
}

button{
    margin-top: 20px;
    margin-bottom: 0;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    border-width: 0;
    background-color: #25D366;
}

button:active{
    scale:1.2;
    background-color: #3be67a;
    transition-duration: 0.1s;
}