body{
    position: relative;
    margin:0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/prefaceBG.jpg");
    background-size: cover;
    opacity: 1;
    z-index: -1;
}

.box{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width:200px;
    background-color: rgb(240,240,240,0.5);
    border-radius: 15px;
    border: 0.1rem solid black;
    margin: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;   
    text-decoration: none; 
    color: black;
}
.box:hover{
    background-color: rgb(240,240,240,1);
    scale: 1.2;
    transition-duration: 0.5s;
    border-width: 0.15rem;
}

.icon{
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}